<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Listado de Recetas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/CSS/layoutCocinero.css" />
</head>

<body class="bg-light">
    <div class="container mt-5">
        <table class="table  table-striped">
            {{form.csrf_token}}
            <tbody id="tablaRecetas">
                {% if recetas %}
                {% for receta in recetas %}
                <tr>
                    <td>{{ receta.nombre_receta }}</td>
                    <td>{{ receta.descripcion }}</td>
                    <td>{{ receta.cantidad_galletas_producidas }}</td>
                    <td>{{ receta.tiempo_preparacion }} min</td>
                    <td>{{ receta.dias_caducidad }} días</td>
                    <td>{{ "Sí" if receta.activa else "No" }}</td>
                    <td><a href="{{ url_for('chefCocinero.editar_receta', receta_id=receta.id) }}"
                            class="btn btn-sm btn-warning">Editar</a></td>
                    <td><form action="{{ url_for('chefCocinero.eliminar_receta', receta_id=receta.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('¿Seguro que quieres eliminar esta receta?')">
                            Eliminar
                        </button>
                    </form>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="9" class="text-center text-muted">No se encontraron recetas.</td>
                </tr>
                {% endif %}

            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        document.getElementById("searchInput").addEventListener("input", function () {
            let query = this.value;

            fetch(`/buscar_recetas?query=${encodeURIComponent(query)}`)
                .then(response => response.text())
                .then(html => {
                    document.getElementById("tablaRecetas").innerHTML = html;
                })
                .catch(error => console.error("Error al buscar recetas:", error));
        });
    </script>
</body>

</html>